.NavbarItems {
background: linear-gradient(90deg, rgb(64, 63, 70) 0%, rgb(4, 33, 70) 100%);
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: x-small;
color: rgb(126, 126, 129);
font-family: "Lucida Console", Lucida , sans-serif;
overflow: hidden;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; 
}
.NavbarItems a {
        color: aliceblue;
}    
.NavbarItems a:hover {
        color: gray;
}    
 .NavbarItems a:link {
        font-family: "Lucida Console", Lucida , sans-serif;
        text-decoration: none;
        list-style-type: none;
        font-size: medium;
        display: inline-table;
        margin: 0 auto -10px 120px;
               
}
    
    