.News {
    float: right;
}

.news-scroll-gn{
    width: 400px;
    margin: 10% auto;
}

.news-scroll-div{
    
    font-size: x-large;
    overflow-x: scroll;
    height: 1050px;
    width: 300px;
    overflow-x: auto;
    background-image: url('https://scx1.b-cdn.net/csz/news/800a/2018/milkyway.jpg');
    border-radius: 1px;
    margin: 1 auto;
    direction: rtl;
    
}

.News a {
    color: aliceblue;
}    
.News a:hover {
    color: gray;
}    