.NavbarItems {
    background: linear-gradient(90deg, rgb(64, 63, 70) 0%, rgb(13, 121, 6) 100%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: green;
    font-family: "Lucida Console", Lucida , sans-serif;
    overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-logo {
    color: blanchedalmond;

}


.nav-links {
    color: blanchedalmond;
}