.News {
    float: right;
}

a:link {
    color: honeydew;
    
}


.news-scroll-gn{
    width: 400px;
    margin: 10% auto;
}

.news-scroll-div{

    overflow: hidden;
    overflow-y: scroll;
    height: 1000px;
    width: 300px;
    overflow-y: auto;
    background-image: url('https://scx1.b-cdn.net/csz/news/800a/2018/milkyway.jpg');
    border-radius: 5px;
    margin: 1 auto;
}